{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script  src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script> -->

    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <!-- <script src="{% static 'js/dist/game.js' %}"></script> -->
    <!-- <link rel="icon" href="{% static 'image/favicon.ico' %}" /> -->
    
    <link rel="icon" href="https://cdn.acwing.com/media/article/image/2021/12/29/137551_fa369f3e68-grinning-face-with-sweat_1f605.png" />

    <title>黄豆勇者</title>
</head>

<body style="margin: 0">
    <script language="Javascript">
        document.oncontextmenu = function(){return false;}
    </script>
    <div id="shi_game_12345678"></div>
    <script type="module">
        import {ShiGame} from "{% static 'js/dist/game.js' %}"
        $(document).ready(function(){
            let shi_game = new ShiGame("shi_game_12345678");
        });
    </script>
</body>